
#shop {
    height: 500px;
    width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 2rem;
}
#shelves {
    align-content: center;
    width: 100%;
    font-size: 1.09rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* gap: .2rem; */
    justify-content: center;
}
#shelves div{
    width: 25%;
    /* height: 2%; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto ;
}
#shelves h2, #cart h2{
    width: 100%;
}
#cart{
    display: flex;
    height: 100%;
    flex-direction: column;
}
 #cart div{
     display: flex;
     align-items: flex-end;
     height:15%;
     padding: 1rem;
     gap: .5rem;
 }
#cart button{
    margin-top: auto;
}

 #cart img{
    height: 100%;
 }
